<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
	<http auto-config="true" >
			
			<form-login 
				login-processing-url="/login"
				login-page="/loginPage" 
				authentication-failure-url="/login?auth=fail"
				username-parameter="username"
				password-parameter="password"
				default-target-url="/user" />
			<logout logout-url="/logout" logout-success-url="/loginPage"/>
			
		<intercept-url pattern="/user" access="ROLE_USER" />
	</http>

	<authentication-manager>
	  <authentication-provider>
	  	<jdbc-user-service id="userService"
			data-source-ref="dataSource"
			users-by-username-query="select name, password, enabled from user where name=?"
					authorities-by-username-query="SELECT u.name, r.role FROM user u 
			LEFT JOIN user_role ur ON ur.iduser=u.id
			LEFT JOIN role r ON r.id=ur.idrole
			WHERE u.name=?"/>
			
	  </authentication-provider>
	</authentication-manager>

	
	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	       <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	       <beans:property name="url" value="jdbc:mysql://localhost:3306/my_cdp"/>
	       <beans:property name="username" value="root"/>
	       <beans:property name="password" value=""/>
	</beans:bean>
		
		
		
	

</beans:beans>